body {
  font-family: 'Montserrat', sans-serif;
  
  font-weight: 300;
  font-size: 10px;
  color: #555555;
  
}

.content{
  margin: 0 auto;
  width: 700px;
}

* {
  box-sizing: border-box;
}



/* Header */

.header {
  display: flex;
  width: 700px;
  height: 300px;
  margin: 80px 0 40px 0;
  
}

.header__foto {
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 4px 4px 2px rgba(190, 190, 190, 0.4);
  max-width: 100%;
 
}

.header__info {
  
}

.header__img {
  height: 300px;
  bor
}

.header__info__name {
  font-size: 40px;
  font-weight: 600;
}



/* main */

.main {
  display: flex;
  flex-direction: row;
}

.cul1{
  width: 300px;
  border-left: 8px solid #bdbdbb;
  margin-left: 100px;
}

.cul2 {
  width: 300px;
}